
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-logo{
    width: 595.18px;
    height: 500px;
    margin-left: 90px;
    display: inline-block
}

section{
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
}

header{
    margin: 47px 0 144px 76px; 
}

.link-header{
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    color: #17233d;
    margin-right: 25px;
    margin-top: 246px;
}

.botao-header{
    width: 124px;
    height: 51px;
    background: #6fbf44;
    color: #ffffff;
    border: 1px solid #4cb538; /*borda com um pouco de linha*/
    /*border: none; tirar a borda*/ 
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

h1{
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    width: 582px;
    color: #161a49;
    
}
p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    color: #4b505a;
    width: 582px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.link-section{
    font-weight: 500px;
    font-size: 18px;
    line-height: 27px;
    color:#6fbf44;
    cursor: pointer;

}






